# Core dependencies
torch>=2.0.0
torchaudio>=2.0.0
transformers>=4.40.0
datasets>=2.20.0
tqdm>=4.65.0
torchcodec
accelerate>=0.28.0


# Optional utilities
numpy>=1.26.0
pandas>=2.2.0  # if you ever use it for CSV handling
ffmpeg-python>=0.2.0  # for audio extraction if torchaudio.load fails on mp4
soundfile>=0.12.1     # recommended audio backend for torchaudio
wandb>=0.15.0   # for experiment tracking

# (Optional) for reproducibility and environment management
scikit-learn>=1.4.0   # for evaluation metrics like accuracy/F1

